.loader {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    @include flexColumn;
    justify-content: center;
    h1 {
        font-size: 2em;
    }
    .discs-container {
        @include flexCenter;
        margin-top: 6em;
    }
    .disc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .disc {
        animation: disc-rotate .8s linear infinite;
        &::before {
            @include icon('\f51f',3em);
            color: white;
        }
    }
    .disc-inside {
        animation: disc-bounce .8s ease-out infinite alternate;
        margin: 0 .5em;
    }
    .disc-shadow {
        height: .1em;
        width: 0.4em;
        border-radius: 50%;
        background-color: #fff;
        animation: shadow-grow .8s ease-out infinite alternate;
        filter: blur(.05em);
    }
    .disc-container:nth-child(2) {
        .disc-inside,.disc-shadow {
            animation-delay: .2s;
        }
    }
    .disc-container:nth-child(3) {
        .disc-inside,.disc-shadow {
            animation-delay: .4s;
        }
    }
}